.wrapper {
  height: 4px;
  background: #2e2e2e21;
  min-width: 120px;
  position: relative;
}

.thumb {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: var(--accent);
  width: 0;
  transition: 1s ease-in all;
}